<h1>Банеры на сайте</h1>



<% @ads.each do |ad| %>


  <div class = "post_box">
    
 <table>
   <tr>
      <td><strong> линк для банера: </strong><br /> <%= ad.url %></td>
      <td><strong> текст при наведении: </strong><br /> <%= ad.title %></td>
      <td><strong> название: </strong><br /> <%= ad.name %></td>
       <td style = "color:red;"><strong> Статус: </strong><br /> <%= ad.status %></td>
   </tr>
 </table>
    <%= image_tag(ad.image) if ad.image? %><br />
      <%= link_to 'Редактировать', edit_ad_path(ad) %> 
    </div>
  <% end %>
<br />


