<h2>Перевыслать инструкцию к доступу</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class = "reg"><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.submit "Перевыслать инструкцию к доступу" %></div>
<% end %>

<%= render "devise/shared/links" %>
