<h2>Редактировать <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

   <div><%= f.label 'ник' %><br />
   <%= f.text_field :username %></div>
   
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label "новый пароль" %> <br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label "повторите пароль" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label "данный пароль" %><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Обновить" %></div>
<% end %>

<h3>Выйти из моего акаунта</h3>

<p>Не повезло? <%= link_to "Выйти", registration_path(resource_name), :data => { :confirm => "Вы уверены?" }, :method => :delete %>.</p>

<%= link_to "Назад", :back %>
