<h2>Регистрация</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<!--   <%= devise_error_messages!%> -->
  
  <div><%= f.label 'ник' %><br />
  <%= f.text_field :username %></div>
 
 <div><%= f.label 'emeil' %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label "пароль" %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label "повторите пароль" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Зарегестрироваться" %></div>
<% end %>

<%= render "devise/shared/links" %>
