
<div style = "margin-top:100px;">

  <h1 style = "margin: 0 0 60px;"> Коментарии </h1>
<% film.comments.each do |comment| %>

  <div class="comment_box">
    <div class="c_image_box">
     <%= if comment.user.avatar? then image_tag(comment.user.avatar.smal_avatar.url) else image_tag("/smal_avatar_camera_a.gif") end%> 
      
    
    </div>
    <div class = "c_other_box">
      <strong> <%= comment.user.username %> </strong>
    </div>
    <div class = "c_other_box">
      <%= comment.content %>
    </div>
    
     <div style= "width:800px;">
         <div class="c_delete_box">
         <% if can? :destroy, comment %> 
         <%= link_to 'Удалить коментарий', [comment.film, comment],
               :confirm => 'Вы уверены?',
               :method => :delete %>
            <%end%>
            </div>
        
        <div class="c_data_box">
           отправлен: <%= comment.created_at %>
         </div>
     </div>
 </div> 
  
  <% end %>
  
 
 <% if can? :create, Comment then%>
 <%= form_for([film, film.comments.build]) do |f| %>
  <div class="field">
    <%= f.label 'Добавить коментарий' %><br />
    <%= f.text_area :content, :size => "100x5" %>
  </div>
  <div class="actions">
   <%= f.submit 'готово' %>
  </div>
 <% end %>

</div>
<%else%>
 <h1 style = "color:brown;"> Что бы иметь возможность отправлять комментарии нужно войти как зарегистрированный пользователь! </h1><br />
<%end%>