 <% @film.janr =  join_janrs(@film) %>
  <%= type = @film.type.name.to_sym if @film.type != nil%>
 <%= form_for(@film) do |f| %> 
  <% if @film.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@film.errors.count, "error") %> prohibited this film from being saved:</h2>

      <ul>
      <% @film.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
   <div class="field">
    <%= f.label 'Тип контента' %><br />
    <%= select(:film, :film_type, options_for_select([["Фильм", 'films'], ["Мультфильм", 'cartoons']], type)) %>
  </div> <br />

  
   <%= image_tag(@film.image_url) if @film.image? %> <br /> <br />
         <%= f.label 'вебрать изображение' %><br />
         <%= f.file_field :image, :length => 5 %>
        <%= f.hidden_field :image_cache %> 
       
  <div class="field">
    <%= f.label 'Название' %><br />
    <%= f.text_field :name %>
  </div>
   
  <div class = "field">
   <%= label_tag("Жанры") %> <br />
    <%Janr.all.each do |janr|%>
       <%= if @film.janrs.include? janr then
             check_box_tag(janr.id,janr.id,"checked")
           else 
             check_box_tag(janr.id,janr.id)
           end
       %>
       <%= label_tag(janr.id,janr.name) %> <br />
    <%end%>
  </div>
  
  <div class="field">
    <%= f.label 'Страна' %><br />
    <%= f.text_field :country %>
  </div>
  
   <div class="field">
    <%= f.label 'Режиссер' %><br />
    <%= f.text_field :directed_by %>
  </div>
   
  <div class="field">
    <%= f.label 'Год выпуска' %><br />
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label 'Описание' %><br />
    <%= f.text_area :introtext %>
  </div>
  <div class="field">
    <%= f.label 'Главная роль' %><br />
    <%= f.text_field :role %>
  </div>
  <div class="field">
    <%= f.label 'Длина фильма' %><br />
    <%= f.text_field :length %>
  </div>
  <div class="field">
    <%= f.label 'Сылка на фильм' %><br />
    <%= f.text_area :film %>
  </div><br /> 

  <div class="actions">
    <%= f.submit "Применить" %>
  </div>
<% end %>