<div class="product_detail_cont">
      <div class="product_detail_left"><%= image_tag(@film.image) %></div>
     <div >
       <p>
            <b>Название фильма:</b>
            <%= @film.name %>
      </p> <br />
       <p>
            <b>Жанр:</b>
            <%= join_janrs(@film) %>
      </p> <br />
       <p>
            <b>Год выпуска:</b>
            <%= @film.year %>
      </p> <br />
      <p>
            <b>Страна:</b>
            <%= @film.country %>
      </p> <br />
      <p>
            <b>Режиссер:</b>
            <%= @film.directed_by %>
      </p> <br />
        <p>
            <b>Главные роли:</b>
             <%= @film.role %>
        </p> <br />
        <p>
            <b>Продолжительность:</b>
             <%= @film.length %>
        </p> <br /><br />
        
        <p>
            <b>Описание:</b>
            <%= @film.introtext %>
       </p> <br />
     </div> 
</div>


<div class = "film_box">
  <iframe src="<%=@film.film%>" width="607" height="360" frameborder="0"></iframe> <br />
  <%= ratings_for @film, current_user %>
  оценило людей: <%= @film.rates.count%> 
</div>

 <%if can? :update, @film%>
 <%= link_to 'Редактировать фильм', edit_film_path(@film) %> 
 <%end%>

  <%= render "comments/comments", :film => @film %>
  
  
  
  <% content_for :keywords do %>
   <%= @film.tag%>
  <% end %>
  
  <% content_for :name do %>
      <%= @film.name%>
  <% end %>