
 <%= form_for(setting) do |f| %> 
 
  <div class="field">
    <%= f.label 'Название сайта' %><br />
    <%= f.text_field :site_name %>
  </div> <br />

  
   <div class="field">
    <%= f.label 'Теги' %><br />
    <%= f.text_field :tegs %>
  </div> <br />
  
   <div class="field">
    <%= f.label 'Количество фильмов на странице (только числовые значения)' %><br />
    <%= f.text_field :count_page %>
  </div> <br />
  

  <div class="actions">
    <%= f.submit "Применить" %>
  </div>
<% end %>