
<%= form_for(object) do |f| %>
  <% if object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(object.errors.count, "error") %> prohibited this announcement from being saved:</h2>

      <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'имя' %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= if object.image? then image_tag(object.image.smal_image.url) else image_tag("/camera_a.gif") end%>  <br /> <br />
    <%= f.label 'вебрать изображение' %><br />
    <%= f.file_field :image, :length => 5 %>
    <%= f.hidden_field :image_cache %> 
  <div>       
         
         
  <div class="field">
    <%= f.label 'интротекст (максимум 255 символов)' %><br />
    <%= f.text_area :introtext, :size => "100x3" %>
  </div>
  
   <div class="field">
    <%= f.label 'теги (вводить через запятую)' %><br />
    <%= f.text_field :tag%>
  </div>
  
  <div class="field">
    <%= f.label 'латинское имя для url (frandly_name)' %><br />
    <%= f.text_field :frandly_name%>
  </div>
  
  <div class="field">
    <%= f.label 'основной текст' %><br />
    <%= f.text_area :content, :size => "100x25" %>
  </div>
  <div class="actions">
    <%= f.submit 'Готово' %>
  </div>
<% end %>