<h1>Редактировать профиль</h1>

   <%= form_for(@user) do |f| %>
         
         <%= if @user.avatar? then image_tag(@user.avatar.big_image.url) else image_tag("/camera_a.gif") end%>  <br /> <br />
         <%= f.label 'выбрать изображение' %><br />
         <%= f.file_field :avatar, :length => 5 %>
         <%= f.hidden_field :avatar_cache %> 
   
        
         <div class="actions"><br />
           <%= f.submit 'Готово', class:"btn btn-inverse" %>
        </div>
  <%end %>