<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Онлайн кинотеатр</title>
<meta name="keywords" content="showcase, portfolio, free web templates, css templates" />
<meta name="description" content="Онлайн кинотеатр" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="templatemo_menu_menu">  
  <div class="con">
     <ul id="topnav" class="v1">
        <li><%=link_to 'Главная', films_path %></li>
        <li><%=link_to 'Фильмы', kinofilms_index_path %></li>
        <li><%=link_to 'Мультфильмы', cartoons_index_path %></li>
        <li><%=link_to 'Анонсы', "/#" %></li>
        <li><%=link_to 'Новости', "/#" %></li>
        <li><%=link_to 'Войти', "/#" %></li>
    </ul>
  </div>
 
 </div> <!-- end of menu -->
 <div class="slider_nivo_wrapper">
  <div class="slider_nivo_">
    <%= render "assets/nivo"%>
  </div>
</div>  
  
<div id="templatemo_follow_me_wrapper">

	<div id="templatemo_follow_me">
          <%= form_tag search_index_path, :method => 'get' do %>
             <%= text_field_tag :search, params[:search], :placeholder=> "Найти фильм.."%>
             <%= submit_tag "Искать", :name => nil  %>
        <% end %>
    	
  
	    <div class="cleaner"></div>
    </div> <!-- end of templatemo_menu -->

</div> <!-- end of templatemo_menu_wrapper -->

 <div id="templatemo_content">
	<%= yield %>
 </div> <!-- end of templatemo_content -->
<div id="templatemo_content_bottom"></div>

<div id="templatemo_footer_wrapper">
    <div id="templatemo_footer">
    
        <div class="section_w220">
        
          
        </div>
        
        <div class="section_w220">
        
            
        
        </div>
            
        <div class="section_w220">
        
            
        </div>
        
		<div class="section_w220">
        
            <h4>Сайт кинотеатр</h4>
            
        </div>    
        
        <div class="cleaner"></div>
    
    </div> <!-- end of footer -->
    
    <div class="cleaner"></div>
</div> <!-- end of templatemo_footer_wrapper -->

</body>
</html>