<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= yield  :name%> <%= site_name %></title>
<meta name="keywords" content="<%= yield :keywords%>"/>
<meta name="description" content="Онлайн кинотеатр" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= ajaxful_rating_style %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="templatemo_menu_menu">  
  <div class="con">
    <%= render "assets/links"%>
  </div>
    <% if user_signed_in? %>
      <div class = "admin_link_block"><%if admin? %> <%=link_to 'Админка', admin_path %> <%end%> </div> 
       <span class = "log_in"> привет: <%= current_user.username %> </span>
     <%end%>
 </div> <!-- end of menu -->
 <div class="slider_nivo_wrapper">
  <div class="slider_nivo_">
    <%= render "assets/nivo"%>
  </div>
</div>  
  
<div id="templatemo_follow_me_wrapper">

	<div id="templatemo_follow_me", class = "reg">
          <%= form_tag search_index_path, :method => 'get' do %>
             <%= text_field_tag :search, params[:search], :placeholder=> "Найти фильм.."%>
             <%= submit_tag "Искать", :name => nil  , :class => "s"%>
        <% end %>
    	
  
	    <div class="cleaner"></div>
    </div> <!-- end of templatemo_menu -->

</div> <!-- end of templatemo_menu_wrapper -->

<div class = "right_block">
  <%= render "assets/vidjet"%>
  <%= render "assets/top_10"%>
  <%= render "assets/right_baner"%>
</div>

<div id="templatemo_content">
	<%= yield %>
 </div> <!-- end of templatemo_content -->
<div id="templatemo_content_bottom"></div>

<div id="templatemo_footer_wrapper">
    
      <%= render "assets/bottom_baner"%>      
     
    <div class="cleaner"></div>
</div> <!-- end of templatemo_footer_wrapper -->
 <div style="margin-left:20%;">
      <%= counter.html_safe%>
  </div>
</body>
</html>